<ul id="profile">
	<li> 
      <h1><%= @user.name %></h1>
      	  <%= @user.email %>
     </li>
     
	<li><%= link_to "Post New Article", newpost_path%></li>
</ul>
   
   
<p>
     <%= form_for @category do |f|%>
     		<%= hidden_field_tag :user_id, @user.id  %>
     		<%= f.label :category ,"Category:"%>
  			<%=h f.text_field :category %><br />
  			<%= f.submit "Add Category" %>	
     <% end %>
     
     <% unless @categoryList.nil? %>
     <ul>
     	<% @categoryList.each do |f|  %>
     		<li>
     			<%= link_to "#{f.category}", user_categories_path(f.category) %>
     		</li>
     		     
     	<% end %>
	  <% end %>
     </ul>	
</p>